<!DOCTYPE html>
<html lang="en">
<head>
    <title>学生成绩界面</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/bootstrap-responsive.min.css"/>
    <link rel="stylesheet" href="css/matrix-style.css"/>
    <link rel="stylesheet" href="css/matrix-media.css"/>
     <script type="text/javascript">
        function delete_grade() {
            alert('数据删除成功！')
        }
    </script>

</head>
<body>

<!--Header-part-->
<div id="header">
    <h2>学生管理系统</h2>
</div>

<div id="user-nav" class="navbar navbar-inverse">
    <ul class="nav">
        <span class="dropdown" id="profile-messages"><a title="" href="#" data-toggle="dropdown"
                                                        data-target="#profile-messages" class="dropdown-toggle"><i
                class="icon icon-user"></i>  <span class="text">欢迎admin</span><b class="caret"></b></a> </span>


        <li class=""><a title="" href="/login"><i class="icon icon-share-alt"></i> <span class="text">退出</span></a>
        </li>
    </ul>
</div>

<div id="sidebar">
    <a href="#" class="visible-phone"><i class="icon icon-home"></i>图表统计</a>
    <ul>
        <li>
            <a href="/index"><i class="icon icon-home"></i> <span>首页</span></a>
        </li>
        <li>
            <a href="/charts"><i class="icon icon-signal"></i> <span>图表统计</span></a>
        </li>
        <li>
            <a href="/select-course"><i class="icon icon-inbox"></i> <span>学生选课情况</span></a>
        </li>
        <li>
            <a href="/student-datas"><i class="icon icon-th"></i> <span>学生个人信息</span></a>
        </li>
        <li class="active">
            <a href="/grade"><i class="icon icon-fullscreen"></i> <span>学生成绩录入及查询</span></a>
        </li>
        <li>
            <a href="/reward"><i class="icon icon-th-list"></i> <span></span>奖惩情况</a>

        </li>

        <li>
            <a href="/graduation"><i class="icon icon-pencil"></i> <span>已毕业学生去向统计</span></a>
        </li>



    </ul>
</div>
<div id="content">
    <div id="content-header">
        <div id="breadcrumb"><a href="#" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> Home</a> <a
                href="#" class="current">学生成绩录入及查询</a></div>
    </div>
           <div id="data3" style="width: 100%">
            <form action="" method="post">
                <label>
                    <input style="height: 30px" type="text" name="snum" placeholder="输入学号查询成绩"/>
                    <input type="submit" style="height: 30px" value="查询" href="/grade">
                    <a href="/all-grade" style="margin-left: 20px;color: #0e90d2">查询全部</a>
                    <a href="/grade" style="margin-left: 30px;color: #0e90d2">返回单个查询</a>
                    <a href="/add-grade" style="margin-left: 30px;color: #0e90d2">录入学生成绩</a>
                </label>
            </form>
            {% if grade_lst|length==1 %}
                <table style="width: 80%;margin-left: 88px;background:coral;">
                    <caption>学生成绩&#12288;共{{ grade_lst|length }}条记录</caption>
                    <tr>
                        <td style="width: 87px;text-align: center">学号</td>
                        <td style="width: 87px;text-align: center">课程一</td>
                        <td style="width: 87px;text-align: center">课程二</td>
                        <td style="width: 87px;text-align: center">课程三</td>
                        <td style="width: 87px;text-align: center">课程四</td>
                        <td style="width: 87px;text-align: center">修改操作</td>
                        <td style="width: 87px;text-align: center">删除操作</td>

                    </tr>
                    {% for item in grade_lst %}
                        <tr>
                            {% for items in item %}
                                <td style="width: 87px;text-align: center">{{ items }}</td>
                            {% endfor %}
                            <td style="width: 87px;text-align: center"><a href="/update-grade/{{ item }}">修改</a>
                            </td>
                            <td style="width: 87px;text-align: center"><a href="/delete-grade/{{ item }}"
                                                                          onclick="delete_grade()">删除</a>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            {% else %}
                <table style="width: 80%;margin-left: 88px;background: #5bc0de">
                    <caption>学生成绩&#12288;共{{ grade_lst1|length }}条记录</caption>

                    <tr>
                        <td style="width: 87px;text-align: center">学号</td>
                        <td style="width: 87px;text-align: center">课程一</td>
                        <td style="width: 87px;text-align: center">课程二</td>
                        <td style="width: 87px;text-align: center">课程三</td>
                        <td style="width: 87px;text-align: center">课程四</td>
                        <td style="width: 87px;text-align: center">修改操作</td>
                        <td style="width: 87px;text-align: center">删除操作</td>
                    </tr>
                    {% for item in grade_lst1 %}
                        <tr>
                            {% for items in item %}
                                <td style="width: 87px;text-align: center">{{ items }}</td>
                            {% endfor %}
                            <td style="width: 87px;text-align: center"><a href="/update-grade/{{ item }}">修改</a>
                            </td>
                            <td style="width: 87px;text-align: center"><a href="/delete-grade/{{ item }}"
                                                                          onclick="delete_grade()">删除</a>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            {% endif %}

        </div>
</div>
</body>
</html>
